POSTGRES_AIRFLOW_USER=airflow
POSTGRES_AIRFLOW_PASSWORD=airflow
POSTGRES_AIRFLOW_DB=airflow

POSTGRES_DWH_USER=weather
POSTGRES_DWH_PASSWORD=weather
POSTGRES_DWH_DB=weather

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

AIRFLOW_JWT_SECRET=C3440110F3D9E2D62D3A1A13A79E5EA14D455297AFB13DDEF3546791A87CAAF0493263C5AD5ECD5FEE4D47A0FAF4D1E3

SUPERSET_SECRET_KEY=78637089807687578477889